// BASIC
@font-face {
  font-family: "Gotham Pro";
  src: url("./fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
  url("./fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("./fonts/GothamProBold/GothamProBold.woff") format("woff"),
  url("./fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html,
body {
  color: $color-text;
  font-family: $f-family;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  font-size: 14px;
  line-height: 24px;
  box-sizing: border-box;

  @media (max-width: $bp-second) {
    font-size: 16px;
  }

  @media (max-width: $bp-third) {
    font-size: 14px;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

h1,
h2,
h3 {
  color: $color-primary;
}

h2 {
  padding: 20px 0;
  text-align: center;
  line-height: 44px;
  font-weight: 300;
  font-size: 36px;
}

h3 {
  font-weight: 500;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  color: $color-primary;
  text-decoration: none;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.button {
  padding: 10px 30px;
  font-family: $f-family;
  color: $color-white;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 23px;
  background-color: $color-primary;
  cursor: pointer;
  outline: none;
  transition: all .2s;

  &--outlined {
    color: $color-primary;
    background-color: $color-white;
    border: 1px solid $color-primary;
    border-radius: 25px;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
