.brochures__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 69px 0;
  min-height: 262px;
}

.brochures__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  img {
    margin: 0 20px;
  }
}

.brochures__version {
  display: flex;
  justify-content: space-between;
  padding: 0 198px;
}

.brochures__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 356px;
}