$bp-first: 1200px;
$bp-second: 1024px;
$bp-third: 768px;
$bp-fourth: 425px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$f-family: "Montserrat", "Arial", sans-serif;
$ff-header: "Gotham Pro", "Arial", sans-serif;



$color-primary: #00519C;
$color-secondary: #EDF8FF;
$color-white: #ffffff;
$color-text: #000000;
